.homepage-slider{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 760px;
    background-color: $dark;
    .slider-pictures{
        width: calc(100% - 700px);
        @include xxl{
            width: calc(100% - 600px);
        }
        @include xl{
            width: calc(100% - 500px);
        }
        @include lg{
            width: 100%;
        }
        .slide-inner{
            display: block;
            position: relative;
            img{
                width: 100%;
                height: 760px;
                object-fit: cover;
                @include lg{
                    height: 400px;
                }
            }
        }
    }
    .slider-content{
        width: 700px;
        height: auto;
        padding: 100px;
        @include xxl{
            width: 600px;
        }
        @include xl{
            width: 500px;
        }
        @include lg{
            width: 100%;
            padding: 20px;
        }
        .slide-type{
            display: block;
            font-size: 24px;
            font-weight: 600;
        }
        .slide-title{
            font-size: 48px;
            font-weight: 700;
            @include lg{
                font-size: 32px;
            }
        }
        .slide-button{
            display: block;
            margin-top: 50px;
            a{
                display: inline-block;
                border: 1px solid $baseWhite;
                color: $baseWhite;
                text-decoration: none;
                font-size: 20px;
                font-weight: 600;
                line-height: 20px;
                border-radius: 6px;
                padding: 20px 40px;
                &:hover{
                    background-color: $orange;
                    color: $baseBlack;
                    border-color: $orange;
                }
            }
        }
        .swiper-pagination{
            position: relative;
            display: flex;
            margin-top: 50px;
            .swiper-pagination-bullet{
                width: 16px;
                height: 16px;
                border-radius: 100px;
                background-color: $gray;
                margin: 0 8px;
                opacity: 1;
                transition: $transition;
                &.swiper-pagination-bullet-active{
                    background-color: $baseWhite;
                    width: 60px;
                }
                &:hover{
                    background-color: $grayLight;
                    &.swiper-pagination-bullet-active{
                        background-color: $baseWhite;
                    }
                }
                &:first-child{
                    margin-left: 0;
                }
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
}
.news-posts{
    position: relative;
    padding: 100px 0;
    .post-item{
        position: relative;
        display: block;
        background-color: $dark;
        border: 1px solid rgba(255,255,255,.15);
        overflow: hidden;
        border-radius: 15px;
        color: $baseWhite;
        text-decoration: none;
        width: 100%;
        height: 100%;
        .thumbnail{
            display: block;
            position: relative;
            img{
                width: 100%;
                height: 350px;
                object-fit: cover;
            }
        }
        .meta{
            display: flex;
            flex-wrap: wrap;
            position: relative;
            padding: 30px;
            color: $gray;
            font-size: 20px;
            .category{
                color: $baseWhite;
            }
            .date{
                display: inline-block;
                margin-left: 20px;
            }
        }
        .post-title{
            margin: 0;
            padding: 0 30px 30px;
            font-weight: 600;
            font-size: 30px;
            line-height: 50px;
            transition: $transition;
        }
        &:hover{
            border-color: rgba(255,255,255,.4);
            .post-title{
                color: $orange;
            }
        }
    }
    .view-all{
        display: block;
        position: relative;
        text-align: center;
        a{
            display: inline-block;
            font-size: 22px;
            font-weight: 300;
            line-height: 22px;
            border: 1px solid $baseWhite;
            border-radius: 6px;
            padding: 10px 30px;
            text-decoration: none;
            color: $baseWhite;
            &:hover{
                border-color: $orange;
                background-color: $orange;
                color: $dark;
            }
        }
    }
}
.reviews{
    position: relative;
    padding: 0 0 100px;
    .reviews-slide{
        position: relative;
        .photo{
            position: relative;
            width: 100%;
            height: auto;
            text-align: center;
            img{
                border-radius: 100%;
            }
        }
        .review-text{
            display: block;
            position: relative;
            padding: 0 100px 0 50px;
            @include lg{
                padding: 0 20px;
            }
            p{
                font-size: 24px;
                font-weight: 200;
                font-style: italic;
                line-height: 40px;
                margin-bottom: 30px;
                &:last-child{
                    margin-bottom: 0;
                }
                @include lg{
                    font-size: 18px;
                }
            }
            &::before{
                content: '';
                width: 48px;
                height: 36px;
                display: inline-block;
                position: absolute;
                background: url('../images/svg/review-quote.svg') no-repeat center;
                background-size: 48px 36px;
                top: 0;
                left: -20px;
                z-index: 1;
                @include lg{
                    display: none;
                }
            }
            &::after{
                content: '';
                width: 48px;
                height: 36px;
                display: inline-block;
                position: absolute;
                background: url('../images/svg/review-quote.svg') no-repeat center;
                background-size: 48px 36px;
                top: calc(100% - 30px);
                right: 30px;
                transform: rotate(180deg);
                z-index: 1;
                @include lg{
                    display: none;
                }
            }
        }
    }
    .swiper-pagination{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 80px;
        .swiper-pagination-bullet{
            width: 16px;
            height: 16px;
            border-radius: 100px;
            background-color: $gray;
            margin: 0 8px;
            opacity: 1;
            transition: $transition;
            &.swiper-pagination-bullet-active{
                background-color: $baseWhite;
                width: 60px;
            }
            &:hover{
                background-color: $grayLight;
                &.swiper-pagination-bullet-active{
                    background-color: $baseWhite;
                }
            }
            &:first-child{
                margin-left: 0;
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }
}
.contact-form{
    position: relative;
    padding: 100px 0;
    background: url('../images/contact-form.jpg') center;
    background-size: cover;
    &::before{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,.7);
        z-index: 1;
    }
    .container{
        position: relative;
        z-index: 2;
        .title{
            text-transform: uppercase;
            font-size: 56px;
            font-weight: 700;
            text-align: center;
        }
        .subtitle{
            font-size: 22px;
            font-weight: 300;
            text-align: center;
        }
    }
}
