.homepage-slider{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 760px;
    background-color: $dark;
    .slider-pictures{
        width: calc(100% - 700px);
    }
    .sliser-content{
        width: 700px;
        height: auto;
    }
}
