.form{
    position: relative;
    display: block;
    z-index: 2;
    input[type="text"],
    input[type="email"],
    input[type="tel"]{
        width: 100%;
        border: none;
        border-bottom: 3px solid $baseWhite;
        font-size: 16px;
        font-weight: 500;
        padding: 15px 20px;
        background-color: $baseBlack;
        border-radius: 6px;
        transition: $transition;
        margin-bottom: 30px;
        &:focus{
            border-color: $orange;
        }
    }
    select{
        width: 100%;
        border: none;
        border-bottom: 3px solid $baseWhite;
        font-size: 16px;
        font-weight: 500;
        padding: 15px 20px;
        background-color: $baseBlack;
        border-radius: 6px;
        transition: $transition;
        margin-bottom: 30px;
        color: $gray;
        &:focus{
            border-color: $orange;
        }
    }
    textarea{
        width: 100%;
        border: none;
        border-bottom: 3px solid $baseWhite;
        font-size: 16px;
        font-weight: 500;
        padding: 15px 20px;
        background-color: $baseBlack;
        border-radius: 6px;
        transition: $transition;
        margin-bottom: 30px;
        height: 200px;
        resize: none;
        color: $baseWhite;
        &:focus{
            border-color: $orange;
        }
    }
    .submit-button{
        display: block;
        text-align: center;
        button{
            display: inline-block;
            border: none;
            background: $orange;
            color: $baseBlack;
            text-transform: uppercase;
            font-weight: 600;
            padding: 12px 30px;
            cursor: pointer;
            border-radius: 6px;
            outline: none;
            transition: $transition;
            &:hover{
                background-color: $baseWhite;
            }
        }
    }
}
