header.header{
    position: sticky;
    display: block;
    border-bottom: 1px solid rgba(255,255,255,.2);
    background-color: rgba(0,0,0,.8);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    top: 0;
    left: 0;
    z-index: 99999999;
    @include lg{
        padding: 10px 0;
    }
    .logo{
        position: relative;
        font-size: 0;
        a{
            display: inline-block;
            font-size: 0;
            img{
                width: auto;
                height: auto;
                max-height: 24px;
            }
        }
    }
    .top-actions{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
        .cta{
            display: inline-block;
            a{
                display: inline-block;
                text-transform: uppercase;
                color: $baseBlack;
                font-size: 16px;
                line-height: 16px;
                font-weight: 700;
                background-color: $orange;
                padding: 10px 15px;
                border-radius: 4px;
                text-decoration: none;
                &:hover{
                    background-color: $baseWhite;
                }
            }
        }
        .account{
            position: relative;
            margin-left: 15px;
            a{
                display: inline-flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                width: 32px;
                height: 32px;
                line-height: 24px;
                border-radius: 100px;
                background-color: rgba(255,255,255,.2);
                svg{
                    transition: $transition;
                    path{
                        transition: $transition;
                    }
                }
                &:hover{
                    background-color: $orange;
                    svg{
                        fill: $baseBlack;
                        path{
                            fill: $baseBlack;
                        }
                    }
                }
            }
        }
    }
}

body.admin-bar{
    header.header{
        top: 30px;
    }
}
