.menu-list.main-nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    li{
        display: inline-block;
        position: relative;
        font-size: 0;
        a{
            display: inline-block;
            color: $baseWhite;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 16px;
            text-decoration: none;
            line-height: 16px;
            padding: 25px 30px;
            overflow: hidden;
            &::after{
                content: '';
                display: block;
                position: absolute;
                width: calc(100% - 20px);
                height: 0;
                left: 10px;
                bottom: 0;
                background-color: $baseWhite;
                transition: $transition;
                z-index: 1;
            }
        }
        .sub-menu{
            display: block;
            position: absolute;
            width: 200px;
            height: auto;
            top: 100%;
            left: 0;
            background-color: $orange;
            transition: $transition;
            opacity: 0;
            visibility: hidden;
            transform: translateY(50px);
            z-index: 1;
            li{
                display: block;
                position: relative;
                a{
                    display: block;
                    color: $baseBlack;
                    font-weight: 600;
                    font-size: 14px;
                    padding: 15px 20px;
                    &::after{
                        display: none;
                    }
                }
                &:hover{
                    a{
                        background-color: $dark;
                        color: $baseWhite;
                    }
                }
            }
        }
        &:hover{
            a{
                &::after{
                    height: 3px;
                }
            }
            .sub-menu{
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }
        &.menu-item-has-children{
            &::after{
                content: '';
                display: inline-block;
                position: absolute;
                width: 10px;
                height: 6px;
                top: calc(50% - 3px);
                right: 10px;
                background: url('../images/svg/arrow-down.svg') no-repeat center;
                background-size: 10px 6px;
                z-index: 1;
            }
        }
    }
}
