aside.sidebar{
    position: relative;
    display: block;
    .sidebar-widget{
        position: relative;
        display: block;
        padding: 20px;
        background-color: $dark;
        .widget-title{
            display: block;
            font-size: 32px;
            font-weight: 700;
            text-transform: uppercase;
        }
        .post-item{
            position: relative;
            display: block;
            background-color: $dark;
            border: 1px solid rgba(255,255,255,.15);
            overflow: hidden;
            border-radius: 15px;
            color: $baseWhite;
            text-decoration: none;
            width: 100%;
            height: 100%;
            .thumbnail{
                display: block;
                position: relative;
                img{
                    width: 100%;
                    height: 150px;
                    object-fit: cover;
                }
            }
            .meta{
                display: flex;
                flex-wrap: wrap;
                position: relative;
                padding: 10px;
                color: $gray;
                font-size: 12px;
                .category{
                    color: $baseWhite;
                }
                .date{
                    display: inline-block;
                    margin-left: 10px;
                }
            }
            .post-title{
                margin: 0;
                padding: 0 10px 10px;
                font-weight: 500;
                font-size: 18px;
                line-height: 24px;
                transition: $transition;
            }
            &:hover{
                border-color: rgba(255,255,255,.4);
                .post-title{
                    color: $orange;
                }
            }
        }
    }
}
