/* cyrillic-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7SUc.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7SUc.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7SUc.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.menu-list.main-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.menu-list.main-nav li {
  display: inline-block;
  position: relative;
  font-size: 0;
}
.menu-list.main-nav li a {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  line-height: 16px;
  padding: 25px 30px;
  overflow: hidden;
}
.menu-list.main-nav li a::after {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% - 20px);
  height: 0;
  left: 10px;
  bottom: 0;
  background-color: #fff;
  transition: all 0.3s;
  z-index: 1;
}
.menu-list.main-nav li .sub-menu {
  display: block;
  position: absolute;
  width: 200px;
  height: auto;
  top: 100%;
  left: 0;
  background-color: #FFA800;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  z-index: 1;
}
.menu-list.main-nav li .sub-menu li {
  display: block;
  position: relative;
}
.menu-list.main-nav li .sub-menu li a {
  display: block;
  color: #000;
  font-weight: 600;
  font-size: 14px;
  padding: 15px 20px;
}
.menu-list.main-nav li .sub-menu li a::after {
  display: none;
}
.menu-list.main-nav li .sub-menu li:hover a {
  background-color: #0D0D0D;
  color: #fff;
}
.menu-list.main-nav li:hover a::after {
  height: 3px;
}
.menu-list.main-nav li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.menu-list.main-nav li.menu-item-has-children::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 6px;
  top: calc(50% - 3px);
  right: 10px;
  background: url("../images/svg/arrow-down.svg") no-repeat center;
  background-size: 10px 6px;
  z-index: 1;
}

body.admin-bar .mobile-menu {
  top: 32px;
}

.mobile-menu {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #000;
  transition: all 0.3s;
  transform: translateX(-100%);
  z-index: 999999999;
}
.mobile-menu.show {
  transform: translateX(0%);
}
.mobile-menu.show .main-nav {
  display: block;
}
.mobile-menu.show .main-nav li {
  display: block;
}
.mobile-menu.show .main-nav li a {
  display: inline-block;
}

header.header {
  position: sticky;
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(30px);
  top: 0;
  left: 0;
  z-index: 99999999;
}
@media (max-width: 1200px) {
  header.header {
    padding: 10px 0;
  }
}
header.header .logo {
  position: relative;
  font-size: 0;
}
header.header .logo a {
  display: inline-block;
  font-size: 0;
}
header.header .logo a img {
  width: auto;
  height: auto;
  max-height: 24px;
}
header.header .top-actions {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header.header .top-actions .cta {
  display: inline-block;
}
header.header .top-actions .cta a {
  display: inline-block;
  text-transform: uppercase;
  color: #000;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  background-color: #FFA800;
  padding: 10px 15px;
  border-radius: 4px;
  text-decoration: none;
}
header.header .top-actions .cta a:hover {
  background-color: #fff;
}
header.header .top-actions .account {
  position: relative;
  margin-left: 15px;
}
header.header .top-actions .account a {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  line-height: 24px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.2);
}
header.header .top-actions .account a svg {
  transition: all 0.3s;
}
header.header .top-actions .account a svg path {
  transition: all 0.3s;
}
header.header .top-actions .account a:hover {
  background-color: #FFA800;
}
header.header .top-actions .account a:hover svg {
  fill: #000;
}
header.header .top-actions .account a:hover svg path {
  fill: #000;
}

body.admin-bar header.header {
  top: 30px;
}

footer.footer {
  position: relative;
  display: block;
  background-color: #0D0D0D;
  padding: 100px 0;
}
footer.footer .footer-nav {
  padding-left: 100px;
  margin-bottom: 100px;
}
footer.footer .footer-nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
footer.footer .footer-nav ul li {
  display: inline-block;
  margin-right: 40px;
}
footer.footer .footer-nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
}
footer.footer .footer-nav ul li a:hover {
  color: #FFA800;
}
footer.footer .footer-nav ul li:last-child {
  margin-right: 0;
}
footer.footer .footer-nav ul.second-nav li {
  margin-right: 30px;
}
footer.footer .footer-nav ul.second-nav li:last-child {
  margin-right: 0;
}
footer.footer .footer-nav ul.second-nav li a {
  color: #777;
  font-size: 18px;
}
footer.footer .footer-nav ul.second-nav li a:hover {
  color: #FFA800;
}
@media (max-width: 1200px) {
  footer.footer .footer-nav {
    padding-left: 0;
  }
}
footer.footer .footer-logo {
  padding-left: 100px;
}
footer.footer .footer-logo a {
  display: inline-block;
}
@media (max-width: 1200px) {
  footer.footer .footer-logo {
    padding-left: 0;
  }
}
footer.footer .social-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
  padding-right: 100px;
}
footer.footer .social-links li {
  display: inline-block;
  margin: 0 15px;
}
footer.footer .social-links li a {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 100px;
  line-height: 20px;
}
footer.footer .social-links li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
footer.footer .social-links li:first-child {
  margin-left: 0;
}
footer.footer .social-links li:last-child {
  margin-right: 0;
}
@media (max-width: 1200px) {
  footer.footer .social-links {
    padding-right: 0;
  }
}
footer.footer .copy {
  font-size: 16px;
  font-weight: 200;
  text-align: right;
  padding-right: 100px;
}
@media (max-width: 1200px) {
  footer.footer .copy {
    padding-right: 0;
  }
}
footer.footer .powered {
  font-size: 16px;
  font-weight: 300;
  text-align: right;
  padding-right: 100px;
  color: #777;
}
footer.footer .powered a {
  color: #fff;
  text-decoration: none;
}
footer.footer .powered a:hover {
  color: #FFA800;
}
@media (max-width: 1200px) {
  footer.footer .powered {
    padding-right: 0;
  }
}

.form,
.contact-form-wrapper {
  position: relative;
  z-index: 2;
}
.form input[type=text],
.form input[type=email],
.form input[type=tel],
.contact-form-wrapper input[type=text],
.contact-form-wrapper input[type=email],
.contact-form-wrapper input[type=tel] {
  width: 100%;
  border: none;
  border-bottom: 3px solid #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 20px;
  background-color: #000;
  border-radius: 6px;
  transition: all 0.3s;
  margin-bottom: 30px;
  color: #fff;
}
.form input[type=text]:focus,
.form input[type=email]:focus,
.form input[type=tel]:focus,
.contact-form-wrapper input[type=text]:focus,
.contact-form-wrapper input[type=email]:focus,
.contact-form-wrapper input[type=tel]:focus {
  border-color: #FFA800;
}
.form select,
.contact-form-wrapper select {
  width: 100%;
  border: none;
  border-bottom: 3px solid #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 20px;
  background-color: #000;
  border-radius: 6px;
  transition: all 0.3s;
  margin-bottom: 30px;
  color: #777;
}
.form select:focus,
.contact-form-wrapper select:focus {
  border-color: #FFA800;
}
.form textarea,
.contact-form-wrapper textarea {
  width: 100%;
  border: none;
  border-bottom: 3px solid #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 20px;
  background-color: #000;
  border-radius: 6px;
  transition: all 0.3s;
  margin-bottom: 30px;
  height: 200px;
  resize: none;
  color: #fff;
}
.form textarea:focus,
.contact-form-wrapper textarea:focus {
  border-color: #FFA800;
}
.form .submit-button,
.contact-form-wrapper .submit-button {
  display: block;
  text-align: center;
}
.form .submit-button button,
.contact-form-wrapper .submit-button button {
  display: inline-block;
  border: none;
  background: #FFA800;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  padding: 12px 30px;
  cursor: pointer;
  border-radius: 6px;
  outline: none;
  transition: all 0.3s;
}
.form .submit-button button:hover,
.contact-form-wrapper .submit-button button:hover {
  background-color: #fff;
}

.success-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99999999;
}
.success-popup .popup-window {
  position: relative;
  display: block;
  width: 500px;
  height: auto;
  border-radius: 10px;
  background-color: #fff;
  padding: 30px;
  color: #000;
  text-align: center;
}
.success-popup .popup-window h2 {
  font-weight: 600;
}
.success-popup .popup-window a {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  background-color: #FFA800;
  line-height: 20px;
  padding: 15px 30px;
  border-radius: 6px;
}
.success-popup .popup-window a:hover {
  background-color: #000;
  color: #fff;
}

aside.sidebar {
  position: relative;
  display: block;
}
aside.sidebar .sidebar-widget {
  position: relative;
  display: block;
  padding: 20px;
  background-color: #0D0D0D;
}
aside.sidebar .sidebar-widget .widget-title {
  display: block;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}
aside.sidebar .sidebar-widget .post-item {
  position: relative;
  display: block;
  background-color: #0D0D0D;
  border: 1px solid rgba(255, 255, 255, 0.15);
  overflow: hidden;
  border-radius: 15px;
  color: #fff;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
aside.sidebar .sidebar-widget .post-item .thumbnail {
  display: block;
  position: relative;
}
aside.sidebar .sidebar-widget .post-item .thumbnail img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
@media (max-width: 992px) {
  aside.sidebar .sidebar-widget .post-item .thumbnail img {
    height: 250px;
  }
}
aside.sidebar .sidebar-widget .post-item .meta {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 10px;
  color: #777;
  font-size: 12px;
}
aside.sidebar .sidebar-widget .post-item .meta .category {
  color: #fff;
}
aside.sidebar .sidebar-widget .post-item .meta .date {
  display: inline-block;
  margin-left: 10px;
}
aside.sidebar .sidebar-widget .post-item .post-title {
  margin: 0;
  padding: 0 10px 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  transition: all 0.3s;
}
aside.sidebar .sidebar-widget .post-item:hover {
  border-color: rgba(255, 255, 255, 0.4);
}
aside.sidebar .sidebar-widget .post-item:hover .post-title {
  color: #FFA800;
}

.homepage-slider {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 760px;
  background-color: #0D0D0D;
}
.homepage-slider .slider-pictures {
  width: calc(100% - 700px);
}
@media (max-width: 1920px) {
  .homepage-slider .slider-pictures {
    width: calc(100% - 600px);
  }
}
@media (max-width: 1670px) {
  .homepage-slider .slider-pictures {
    width: calc(100% - 500px);
  }
}
@media (max-width: 1200px) {
  .homepage-slider .slider-pictures {
    width: 100%;
  }
}
.homepage-slider .slider-pictures .slide-inner {
  display: block;
  position: relative;
}
.homepage-slider .slider-pictures .slide-inner img {
  width: 100%;
  height: 760px;
  object-fit: cover;
}
@media (max-width: 1200px) {
  .homepage-slider .slider-pictures .slide-inner img {
    height: 400px;
  }
}
.homepage-slider .slider-content {
  width: 700px;
  height: auto;
  padding: 100px;
}
@media (max-width: 1920px) {
  .homepage-slider .slider-content {
    width: 600px;
  }
}
@media (max-width: 1670px) {
  .homepage-slider .slider-content {
    width: 500px;
  }
}
@media (max-width: 1200px) {
  .homepage-slider .slider-content {
    width: 100%;
    padding: 20px;
  }
}
.homepage-slider .slider-content .slide-type {
  display: block;
  font-size: 24px;
  font-weight: 600;
}
.homepage-slider .slider-content .slide-title {
  font-size: 48px;
  font-weight: 700;
}
@media (max-width: 1200px) {
  .homepage-slider .slider-content .slide-title {
    font-size: 32px;
  }
}
.homepage-slider .slider-content .slide-button {
  display: block;
  margin-top: 50px;
}
.homepage-slider .slider-content .slide-button a {
  display: inline-block;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  border-radius: 6px;
  padding: 20px 40px;
}
.homepage-slider .slider-content .slide-button a:hover {
  background-color: #FFA800;
  color: #000;
  border-color: #FFA800;
}
.homepage-slider .slider-content .swiper-pagination {
  position: relative;
  display: flex;
  margin-top: 50px;
}
.homepage-slider .slider-content .swiper-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  border-radius: 100px;
  background-color: #777;
  margin: 0 8px;
  opacity: 1;
  transition: all 0.3s;
}
.homepage-slider .slider-content .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fff;
  width: 60px;
}
.homepage-slider .slider-content .swiper-pagination .swiper-pagination-bullet:hover {
  background-color: #939393;
}
.homepage-slider .slider-content .swiper-pagination .swiper-pagination-bullet:hover.swiper-pagination-bullet-active {
  background-color: #fff;
}
.homepage-slider .slider-content .swiper-pagination .swiper-pagination-bullet:first-child {
  margin-left: 0;
}
.homepage-slider .slider-content .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}

.news-posts {
  position: relative;
  padding: 100px 0;
}
.news-posts .post-item {
  position: relative;
  display: block;
  background-color: #0D0D0D;
  border: 1px solid rgba(255, 255, 255, 0.15);
  overflow: hidden;
  border-radius: 15px;
  color: #fff;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.news-posts .post-item .thumbnail {
  display: block;
  position: relative;
}
.news-posts .post-item .thumbnail img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.news-posts .post-item .meta {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 30px;
  color: #777;
  font-size: 20px;
}
.news-posts .post-item .meta .category {
  color: #fff;
}
.news-posts .post-item .meta .date {
  display: inline-block;
  margin-left: 20px;
}
.news-posts .post-item .post-title {
  margin: 0;
  padding: 0 30px 30px;
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  transition: all 0.3s;
}
.news-posts .post-item:hover {
  border-color: rgba(255, 255, 255, 0.4);
}
.news-posts .post-item:hover .post-title {
  color: #FFA800;
}
.news-posts .view-all {
  display: block;
  position: relative;
  text-align: center;
}
.news-posts .view-all a {
  display: inline-block;
  font-size: 22px;
  font-weight: 300;
  line-height: 22px;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 10px 30px;
  text-decoration: none;
  color: #fff;
}
.news-posts .view-all a:hover {
  border-color: #FFA800;
  background-color: #FFA800;
  color: #0D0D0D;
}

.reviews {
  position: relative;
  padding: 0 0 100px;
}
.reviews .reviews-slide {
  position: relative;
}
.reviews .reviews-slide .photo {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
}
.reviews .reviews-slide .photo img {
  border-radius: 100%;
}
.reviews .reviews-slide .review-text {
  display: block;
  position: relative;
  padding: 0 100px 0 50px;
}
@media (max-width: 1200px) {
  .reviews .reviews-slide .review-text {
    padding: 0 20px;
  }
}
.reviews .reviews-slide .review-text p {
  font-size: 24px;
  font-weight: 200;
  font-style: italic;
  line-height: 40px;
  margin-bottom: 30px;
}
.reviews .reviews-slide .review-text p:last-child {
  margin-bottom: 0;
}
@media (max-width: 1200px) {
  .reviews .reviews-slide .review-text p {
    font-size: 18px;
  }
}
.reviews .reviews-slide .review-text::before {
  content: "";
  width: 48px;
  height: 36px;
  display: inline-block;
  position: absolute;
  background: url("../images/svg/review-quote.svg") no-repeat center;
  background-size: 48px 36px;
  top: 0;
  left: -20px;
  z-index: 1;
}
@media (max-width: 1200px) {
  .reviews .reviews-slide .review-text::before {
    display: none;
  }
}
.reviews .reviews-slide .review-text::after {
  content: "";
  width: 48px;
  height: 36px;
  display: inline-block;
  position: absolute;
  background: url("../images/svg/review-quote.svg") no-repeat center;
  background-size: 48px 36px;
  top: calc(100% - 30px);
  right: 30px;
  transform: rotate(180deg);
  z-index: 1;
}
@media (max-width: 1200px) {
  .reviews .reviews-slide .review-text::after {
    display: none;
  }
}
.reviews .reviews-slide .name {
  display: block;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
.reviews .swiper-pagination {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 80px;
}
.reviews .swiper-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  border-radius: 100px;
  background-color: #777;
  margin: 0 8px;
  opacity: 1;
  transition: all 0.3s;
}
.reviews .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fff;
  width: 60px;
}
.reviews .swiper-pagination .swiper-pagination-bullet:hover {
  background-color: #939393;
}
.reviews .swiper-pagination .swiper-pagination-bullet:hover.swiper-pagination-bullet-active {
  background-color: #fff;
}
.reviews .swiper-pagination .swiper-pagination-bullet:first-child {
  margin-left: 0;
}
.reviews .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}

.contact-form {
  position: relative;
  padding: 100px 0;
  background: url("../images/contact-form.jpg") center;
  background-size: cover;
}
.contact-form::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.contact-form .container {
  position: relative;
  z-index: 2;
}
.contact-form .container .title {
  text-transform: uppercase;
  font-size: 56px;
  font-weight: 700;
  text-align: center;
}
.contact-form .container .subtitle {
  font-size: 22px;
  font-weight: 300;
  text-align: center;
}

body.page-template-default {
  position: relative;
}

body.page-template-about {
  position: relative;
}

body.page-template-blog {
  position: relative;
}
body.page-template-blog .post-item {
  position: relative;
  display: block;
  background-color: #0D0D0D;
  border: 1px solid rgba(255, 255, 255, 0.15);
  overflow: hidden;
  border-radius: 15px;
  color: #fff;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
body.page-template-blog .post-item .thumbnail {
  display: block;
  position: relative;
}
body.page-template-blog .post-item .thumbnail img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
body.page-template-blog .post-item .meta {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 30px;
  color: #777;
  font-size: 20px;
}
body.page-template-blog .post-item .meta .category {
  color: #fff;
}
body.page-template-blog .post-item .meta .date {
  display: inline-block;
  margin-left: 20px;
}
body.page-template-blog .post-item .post-title {
  margin: 0;
  padding: 0 30px 30px;
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  transition: all 0.3s;
}
body.page-template-blog .post-item:hover {
  border-color: rgba(255, 255, 255, 0.4);
}
body.page-template-blog .post-item:hover .post-title {
  color: #FFA800;
}

body.post {
  position: relative;
}
body.post .text {
  position: relative;
  display: block;
  border-bottom: 4px solid #FFA800;
  padding-bottom: 50px;
}
body.post .tags {
  display: block;
  position: relative;
}
body.post .tags h4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 32px;
}
body.post .tags ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
body.post .tags ul li {
  display: inline-block;
  margin-right: 5px;
}
body.post .tags ul li a {
  display: inline-block;
  background-color: #fff;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 12px;
  border-radius: 4px;
  padding: 2px 5px;
}
body.post .tags ul li a:hover {
  background-color: #FFA800;
}
body.post .tags ul li:last-child {
  margin-right: 0;
}
body.post .category-posts {
  display: block;
  position: relative;
}
body.post .category-posts h4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 32px;
  margin-bottom: 15px;
}
body.post .category-posts .category-title {
  position: relative;
  background-color: #FFA800;
  color: #000;
  padding: 10px;
  font-weight: 700;
  font-size: 20px;
}
body.post .category-posts .category-title a {
  text-decoration: none;
  color: #000;
}
body.post .category-posts .category-title a:hover {
  color: #fff;
}
body.post .category-posts .post-item {
  position: relative;
  display: block;
  background-color: #0D0D0D;
  border: 1px solid rgba(255, 255, 255, 0.15);
  overflow: hidden;
  border-radius: 15px;
  color: #fff;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
body.post .category-posts .post-item .thumbnail {
  display: block;
  position: relative;
}
body.post .category-posts .post-item .thumbnail img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
@media (max-width: 992px) {
  body.post .category-posts .post-item .thumbnail img {
    height: 250px;
  }
}
body.post .category-posts .post-item .meta {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 10px;
  color: #777;
  font-size: 12px;
}
body.post .category-posts .post-item .meta .category {
  color: #fff;
}
body.post .category-posts .post-item .meta .date {
  display: inline-block;
  margin-left: 10px;
}
body.post .category-posts .post-item .post-title {
  margin: 0;
  padding: 0 10px 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  transition: all 0.3s;
}
body.post .category-posts .post-item:hover {
  border-color: rgba(255, 255, 255, 0.4);
}
body.post .category-posts .post-item:hover .post-title {
  color: #FFA800;
}

body.category {
  position: relative;
}
body.category .post-item {
  position: relative;
  display: block;
  background-color: #0D0D0D;
  border: 1px solid rgba(255, 255, 255, 0.15);
  overflow: hidden;
  border-radius: 15px;
  color: #fff;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
body.category .post-item .thumbnail {
  display: block;
  position: relative;
}
body.category .post-item .thumbnail img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
body.category .post-item .meta {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 30px;
  color: #777;
  font-size: 20px;
}
body.category .post-item .meta .category {
  color: #fff;
}
body.category .post-item .meta .date {
  display: inline-block;
  margin-left: 20px;
}
body.category .post-item .post-title {
  margin: 0;
  padding: 0 30px 30px;
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  transition: all 0.3s;
}
body.category .post-item:hover {
  border-color: rgba(255, 255, 255, 0.4);
}
body.category .post-item:hover .post-title {
  color: #FFA800;
}

body.tag {
  position: relative;
}
body.tag .post-item {
  position: relative;
  display: block;
  background-color: #0D0D0D;
  border: 1px solid rgba(255, 255, 255, 0.15);
  overflow: hidden;
  border-radius: 15px;
  color: #fff;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
body.tag .post-item .thumbnail {
  display: block;
  position: relative;
}
body.tag .post-item .thumbnail img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
body.tag .post-item .meta {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 30px;
  color: #777;
  font-size: 20px;
}
body.tag .post-item .meta .category {
  color: #fff;
}
body.tag .post-item .meta .date {
  display: inline-block;
  margin-left: 20px;
}
body.tag .post-item .post-title {
  margin: 0;
  padding: 0 30px 30px;
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  transition: all 0.3s;
}
body.tag .post-item:hover {
  border-color: rgba(255, 255, 255, 0.4);
}
body.tag .post-item:hover .post-title {
  color: #FFA800;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}
*::selection {
  background-color: #FFA800;
  color: #000;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #000;
  color: #fff;
}
body a {
  color: #FFA800;
  transition: all 0.3s;
}
body a:hover {
  color: #fff;
}
body .container {
  max-width: 1740px;
}
body .inner-hero {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  min-height: 600px;
}
@media (max-width: 1200px) {
  body .inner-hero {
    min-height: 10px;
    padding: 60px 0;
  }
}
body .inner-hero img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 1;
}
body .inner-hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
body .inner-hero .container {
  position: relative;
  z-index: 3;
}
body .inner-hero .container .hero-title {
  display: inline-block;
  max-width: 80%;
  text-transform: uppercase;
  font-size: 82px;
  font-weight: 700;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.5);
}
@media (max-width: 1200px) {
  body .inner-hero .container .hero-title {
    font-size: 42px;
  }
}
body .inner-hero .breadcrumbs {
  display: block;
  position: relative;
  text-align: center;
}
@media (max-width: 992px) {
  body .inner-hero .breadcrumbs {
    text-align: unset;
  }
}
body .inner-hero .breadcrumbs ol {
  margin: 0;
  list-style-type: none;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.13);
  padding: 5px 10px;
  backdrop-filter: blur(30px) saturate(1.2);
  max-width: 600px;
}
@media (max-width: 992px) {
  body .inner-hero .breadcrumbs ol {
    display: block;
    overflow: hidden;
  }
}
body .inner-hero .breadcrumbs ol li {
  display: inline-block;
  font-size: 0;
}
@media (max-width: 992px) {
  body .inner-hero .breadcrumbs ol li {
    display: inline;
    word-break: break-word;
  }
}
body .inner-hero .breadcrumbs ol li a {
  font-size: 16px;
}
body .inner-hero .breadcrumbs ol li span {
  display: inline-block;
  font-size: 16px;
}
body .inner-hero .breadcrumbs ol li span.separator {
  margin: 0 5px;
  font-size: 18px;
}
body .content {
  padding: 100px 0;
  position: relative;
}
body .content .text {
  font-size: 20px;
  font-weight: 300;
}
body .content .text p {
  margin-bottom: 30px;
}
body .content .text p:last-child {
  margin-bottom: 0;
}
body .content .text ul, body .content .text ol {
  padding-left: 40px;
}
body .content .text strong {
  font-weight: 700;
}
body .content .text h2 {
  font-size: 32px;
  font-weight: 600;
}
body .content .text h3 {
  font-size: 26px;
  font-weight: 600;
}
body .content .text h4 {
  font-size: 22px;
  font-weight: 600;
}
body .mobile-button {
  position: relative;
  text-align: right;
}
body .mobile-button .open-mobile-menu {
  border: none;
  background-color: transparent;
  outline: none;
}

/*# sourceMappingURL=app.css.map */
