// Fonts
@import "inc/_fonts.scss";

// Includes
@import "inc/_mixins.scss";
@import "inc/_variables.scss";

// Partials
@import "partials/_nav.scss";
@import "partials/_header.scss";
@import "partials/_footer.scss";
@import "partials/_forms.scss";

// Templates
@import "templates/_homepage.scss";

*{
    margin: 0;
    padding: 0;
    outline: none;
}

body{
    font-family: $baseFont;
    font-size: 16px;
    font-weight: 400;
    background-color: $baseBlack;
    color: $baseWhite;
    a{
        transition: $transition;
    }
    .container{
        max-width: 1740px;
    }
}
